.container {
	width: min(100% - 64px, var(--container-width));
	margin-inline: auto;

	@include mobile {
		width: min(100% - 0.625rem, var(--container-width));
	}
}

.container.narrow {
	width: min(100% - 64px, var(--container-narrow));
	margin-inline: auto;

	@include mobile {
		width: min(100% - 0.625rem, var(--container-narrow));
	}
}

.container.feature {
	width: min(100% - 64px, var(--container-feature));
	margin-inline: auto;

	@include mobile {
		width: min(100% - 0.625rem, var(--container-feature));
	}
}

.container.text {
	width: min(100% - 64px, var(--container-text));
	margin-inline: auto;

	@include mobile {
		width: min(100% - 0.625rem, var(--container-text));
	}
}

.container.cta-section-content {
	width: min(100% - 64px, var(--container-cta-feature));
	margin-inline: auto;

	@include mobile {
		width: min(100% - 0.625rem, var(--container-cta-feature));
	}
}
