.container {
	width: min(100% - 64px, var(--container-width));
	margin-inline: auto;
}

.container.narrow {
	width: min(100% - 64px, var(--container-narrow));
	margin-inline: auto;
}

.container.feature {
	width: min(100% - 64px, var(--container-feature));
	margin-inline: auto;
}

.container.text {
	width: min(100% - 64px, var(--container-text));
	margin-inline: auto;
}

.container.cta-section-content {
	width: min(100% - 64px, var(--container-cta-section));
	margin-inline: auto;
}
