:root {
	--container-width: 1319px;
	--container-cta-feature: 1600px;
	--container-narrow: 980px;
	--container-feature: 1272px;
	--container-text: 760px;

	--section-space-y: 120px;
	--section-divider-y: 90px;

	--space-1: 6px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 20px;
	--space-6: 24px;
	--space-7: 28px;
	--space-8: 32px;
	--space-9: 36px;
	--space-10: 40px;
	--space-11: 44px;
	--space-12: 48px;
	--space-13: 52px;
	--space-16: 64px;
}
