.hero {
	position: relative;
	overflow: hidden;
	min-height: 610px;
	color: var(--color-white);
	background-color: #1f1f1f;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.overlay {
		@include absolute-fill;
		background: rgba(18, 18, 18, 0.46);
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		padding: 19.8215rem 0;
		text-box-edge: cap alphabetic;
		text-box-trim: both;
	}

	.title {
		margin: 0;
		width: 100%;
		text-align: center;
		letter-spacing: 0;
		color: var(--color-paper);
		@include heading-text(6rem, 1, 700, uppercase);
	}

	.subtitle {
		margin-top: var(--space-7);
		letter-spacing: 0;
		@include accent-text(2.5rem, 1, 400, uppercase);
	}

	.subtitleUnderline {
		text-decoration: underline;
	}

	.heroButton {
		margin-top: var(--space-9);
		letter-spacing: 0;
		color: var(--color-paper);
	}
}
