.hero-section {
	position: relative;
	overflow: hidden;
	color: var(--color-white);
	background-color: #1f1f1f;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 0.125rem solid var(--color-ink);

	.hero-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		padding: 19.8125rem 0 14.1875rem;
		text-box-edge: cap alphabetic;
		text-box-trim: both;
	}

	.title {
		margin: 0;
		width: 100%;
		text-align: center;
		letter-spacing: 0;
		color: var(--color-paper);
		@include heading-text(6rem, 1, 700, uppercase);
		margin-bottom: var(--section-divider);
	}

	.subtitle {
		letter-spacing: 0;
		@include accent-text(2.5rem, 1, 400, uppercase);
		margin-bottom: var(--section-divider);
	}

	.subtitle-underline {
		text-decoration: underline;
	}

	@media (max-width: ($tablet - 1px)) {
		.hero-content {
			padding: 12rem 0;
		}

		.title {
			@include heading-text(5rem, 1, 700, uppercase);
		}

		.subtitle {
			@include accent-text(2rem, 1, 400, uppercase);
		}
	}

	@include mobile {
		min-height: auto;

		.hero-content {
			padding: 8.75rem 0 4rem;
		}

		.title {
			@include heading-text(3rem, 1, 700, uppercase);
			margin-bottom: var(--space-10);
		}

		.subtitle {
			@include accent-text(2rem, 1, 400, uppercase);
			margin-bottom: var(--space-10);
		}

		.button-primary {
			max-width: 187px;
		}

		@media (orientation: landscape) and (max-height: 500px) {
			.hero-content {
				padding: 4rem 0 2rem;
			}

			.title {
				@include heading-text(2.5rem, 1, 700, uppercase);
			}
		}
	}
}
